{

"timestamp":{{show_clock_output.stdout_lines[0][0]}},
"hostname":{{inventory_hostname}},
"show DMVPN output":{{show_dmvpn_output.stdout_lines}},
"show BGP output":{{show_bgp_output.stdout_lines}},
}


